:root{
    --color-green: #545A2F;
    --color-pale-green: #99A18E;
    --color-brown: #63533E;
    --color-black: #1A1A18;
    --colo-white: #fff;
    --font-1: 70px;
    --font-2: 58px;
    --font-3: 48px;
    --font-4: 38px;
    --font-5: 24px;
    --font-6: 18px;
}

$green: #545A2F;
$pale_green: #99A18E;
$brown: #63533E;
$black: #1A1A18;
$white: #fff;
$font-1: 70px;
$font-2: 58px;
$font-3: 48px;
$font-4: 38px;
$font-5: 24px;
$font-6: 18px;


@mixin onlylange($w) {
    @media only screen and (max-width: $w)
    {
        @content;       
    }
}

body._lock{
    overflow: hidden;
}

.center{
    max-width: 1720px;
    margin: 0 auto;
    @include onlylange(1900px){
        width: 95%;
    }
    @include onlylange(640px) {
        width: 88%;
    }      
}



/*header*/



.wrapper{
    margin: 0 auto;
    max-width: 1920px;
    background: #1A1A18;
}

header{   
    margin-top: 28px;
    @include onlylange(768px){
        margin-top: 16px;
        
    }
}

header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onlylange(768px){
        position: relative;
    }
}

header .wrap img{    
    margin: 21px 0;
    @include onlylange(1440px){
        width: 110px;
        height: 100%;

    }
    @include onlylange(768px){
        position: relative;
        z-index: 2;
        width: 110px;
        height: 56px;
        margin: 0;
        margin-left: 7px;
    }
    
}


header .wrap .item-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onlylange(768px){
        display: grid;
        grid-template-rows:  228px 105px ;
        grid-template-columns: 1fr;
        row-gap: 59px;
        justify-items: center;   
        padding-top: 130px;    
        position: fixed;
        left: -100%;
        top: 0; 
        width: 100%;
        height: 100%;
        background: $green;
        z-index: 1;
        transition: left 0.3s ease 0s;
        overflow: auto;  
    }   
}


header .wrap .item-left._active{
    @include onlylange(768px){
        left: 0;
    }    
}

header .wrap .item-left .menu{
    display: flex;
    justify-content: space-between;
    @include onlylange(768px){        
        flex-direction: column; 
        margin-top: -25px;       
    }
}

header .wrap .item-left .menu li a{
    text-decoration: none;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-5);
    line-height: 100%;
    color: var(--colo-white);
    margin-right: 78px;
    transition: 0.8s;
    @include onlylange(1440px){
        margin-right: 40px;
        font-size: 20px;
    }
    @include onlylange(1100px){
        margin-right: 25px;
    }
    @include onlylange(768px){
        text-align: center;
        display: block;
        width: 230px;
        margin: 0 auto;
        border-bottom: 1px solid $pale_green;
        padding: 22px 0;
        font-size: 20px;
        line-height: 24px;
    }
    
}
header .wrap .item-left .menu > li:nth-child(4) > a{
    @include onlylange(768px){
        padding-bottom: 0;
        border: none;
    }
}

header .wrap .item-left .menu li a:hover{
   text-decoration:underline;
}


header .wrap .connection{
   
    @include onlylange(768px){
        display: block;
        margin-top: -9px;
    }    
}


header .wrap button.tel{
    display: block;
    padding: 15px 28px;
    border: none;
    background-color: var(--colo-white);
    color: var(--color-black);
    font-family:'Noah';
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-5);
    line-height: 30px;
    transition: 0.8s;
    @include onlylange(1100px){
        font-size: 16px;
        line-height: 24px;
        padding: 5px 10px;
    }
    @include onlylange(768px){
        font-size: var(--font-5);
        padding: 15px 28px;
        line-height: 30px;
    }
    
}

header .wrap button.tel:hover{
    background-color: var(--color-green);
    color: var(--colo-white);
}

header .wrap button.consultation{
    border: none;
    background: none;
    font-family: 'Noah';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
    color: var(--colo-white);
    transition: 0.8s;
    @include onlylange(1100px){
       display: none;
               
    }
    @include onlylange(768px){
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        margin-top: 7px;
    }
}

header .wrap button.consultation:hover{
    text-decoration:underline;
}

header .wrap .menu_icon{
    display: none;
    @include onlylange(768px){
        display: block;
        width: 24px;
        height: 18px;
        position: fixed;
        z-index: 2;        
        cursor: pointer;
        top: 41px;
        right: 16px;
    }    
}

header .wrap .menu_icon._active{
    span{
        transform: scale(0) translate(0px, -50%);
    }    
}

.menu_icon._active::before{
    top: 50%;
    transform: rotate(-45deg) translate(1px, -50%);
}

.menu_icon._active::after{
    top: 50%;
    transform: rotate(45deg) translate(-1px, -50%);
}

.menu_icon::after{
    @include onlylange(768px){
   content: "";
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 3px;
    bottom: 0;
    }
}

.menu_icon::before{
    @include onlylange(768px){
   content: "";
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 3px;
   top: 0;
    }
}

.menu_icon span{
    @include onlylange(768px){
   content: "";
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 3px;
   top: 9px;
   transform: scale(1) translate(0px, -50%);
    }
}    
    


/*secton hero*/



.hero{
    background-image: url(../images/img/bg-headar.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -179px;

}

.hero .bg-gradient{    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
    padding-top: 282px;
    background-repeat: no-repeat;
}

.hero .bg-gradient .content-hero{
    display: flex;
    width: calc(1920px - 292px);
    margin-left: auto;
    justify-content: space-between;    
}

.hero .bg-gradient .content-hero .content-left{
    width: 959px;
}

.hero .bg-gradient .content-hero .content-left .subtitle__hero{
    font-family: 'Noah';
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-5);
    line-height: 30px;
    color: var(--colo-white);
}

.hero .bg-gradient .content-hero .content-left h1{
    font-family: 'Noah';
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-1);
    line-height: 87px;
    color: var(--colo-white);
    margin: 12px 0;
}

.hero .bg-gradient .content-hero .content-left h3{
    font-family: 'Noah';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: var(--font-3);
    color: var(--colo-white);
}




/*footer*/



footer{
    background: $green ;
    width: 100%;
    padding: 22px 0;
    position: relative;
    @include onlylange(640px){
        padding-top: 37px;
        padding-bottom: 23px;
    }
    .up_arrow{        
        text-decoration: none;
        font-family: 'Noah';
        font-style: normal;
        font-weight: 400;
        font-size: $font-6;
        line-height: 22px;
        color: $white;        
        width: 124px;
        height: 124px;
        background-color: $pale_green;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: -196px;
        right: 155px;
        text-align: center;
        @include onlylange(1300px){
            width: 95px;
            height: 95px;
            font-size: 14px;
            line-height: 17px;
            right: 5%;
        }
        @include onlylange(640px){
            top: 334px;
        }
        
        img{
            display: block;
            margin: 0 auto;
            margin-top: 27px;
            margin-bottom: 11px;
            @include onlylange(1300px){
                margin-top: 20px;
                margin-bottom: 8px;
                width: 15px;
                height: 23px;
            }
        }
    }
    
    .footer_wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  calc(96px + 25px) 24px;
        row-gap: 48px;
        @include onlylange(1024px){
            row-gap: 20px;
            grid-template-rows: calc(56px + 25px) 24px;
        }
        @include onlylange(640px){
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center
        }
        .contact{
            align-self: flex-end;
            @include onlylange(640px){
                align-self: center;
            }
            a{
                display: block;
                margin-top: 22px;
                text-decoration: none;
                font-family: 'Geometria';
                font-weight: 400;
                font-size: 20px;
                color: $white;
                @include onlylange(640px){
                    margin-top: 19px;
                    font-size: 22px;
                    text-align: center;
                }
            }
            a.mail{
                @include onlylange(640px){
                    margin-top: 13px;
                }
                
            }
        }
        .logo{
            @include onlylange(1204px){
                grid-row: 1/span 2 ;
                grid-column: 2;
            }
            @include onlylange(640px){
                order: -1;
            }
            img{
                display: block;
                margin: 0 auto;
                @include onlylange(1024px){
                    width: 115px;
                    height: 100%;
                }
            }
        }
        .networks{
            img{
                display: block;
                margin-top: 18px;
                margin-left: auto;
                @include onlylange(640px){
                    margin-top: 14px;
                }
            }
        }
        .copy{ 
            @include onlylange(640px){
            order: 1;
            align-self: start;
            margin-top: -13px;}            
            p{
                font-family: 'Noah';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $white;
                opacity: 0.7;
                position: relative;
                z-index: 0;
             }
         }
        .privacy{
            grid-column: 3;
            @include onlylange(640px){
                align-self: start;
            margin-top: 34px;}
            a{
                display: block;
                font-family: 'Noah';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $white;
                text-decoration: none;
                text-align: right;
            }
          } 
     } 
}