:root {
  --color-green: #545A2F;
  --color-pale-green: #99A18E;
  --color-brown: #63533E;
  --color-black: #1A1A18;
  --colo-white: #fff;
  --font-1: 70px;
  --font-2: 58px;
  --font-3: 48px;
  --font-4: 38px;
  --font-5: 24px;
  --font-6: 18px;
}

body._lock {
  overflow: hidden;
}

.center {
  max-width: 1720px;
  margin: 0 auto;
}

@media only screen and (max-width: 1900px) {
  .center {
    width: 95%;
  }
}

/*header*/
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  background: #1A1A18;
}

header {
  margin-top: 28px;
}

@media only screen and (max-width: 768px) {
  header {
    margin-top: 16px;
  }
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  header .wrap {
    position: relative;
  }
}

header .wrap img {
  margin: 21px 0;
}

@media only screen and (max-width: 1440px) {
  header .wrap img {
    width: 110px;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  header .wrap img {
    position: relative;
    z-index: 2;
    width: 110px;
    height: 56px;
    margin: 0;
    margin-left: 7px;
  }
}

header .wrap .item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  header .wrap .item-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 228px 105px;
        grid-template-rows: 228px 105px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 59px;
    justify-items: center;
    padding-top: 130px;
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #545A2F;
    z-index: 1;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  header .wrap .item-left._active {
    left: 0;
  }
}

header .wrap .item-left .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  header .wrap .item-left .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -25px;
  }
}

header .wrap .item-left .menu li a {
  text-decoration: none;
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-5);
  line-height: 100%;
  color: var(--colo-white);
  margin-right: 78px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 1440px) {
  header .wrap .item-left .menu li a {
    margin-right: 40px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  header .wrap .item-left .menu li a {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 768px) {
  header .wrap .item-left .menu li a {
    text-align: center;
    display: block;
    width: 230px;
    margin: 0 auto;
    border-bottom: 1px solid #99A18E;
    padding: 22px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 768px) {
  header .wrap .item-left .menu > li:nth-child(4) > a {
    padding-bottom: 0;
    border: none;
  }
}

header .wrap .item-left .menu li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  header .wrap .connection {
    display: block;
    margin-top: -9px;
  }
}

header .wrap button.tel {
  display: block;
  padding: 15px 28px;
  border: none;
  background-color: var(--colo-white);
  color: var(--color-black);
  font-family: 'Noah';
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-5);
  line-height: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 1100px) {
  header .wrap button.tel {
    font-size: 16px;
    line-height: 24px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 768px) {
  header .wrap button.tel {
    font-size: var(--font-5);
    padding: 15px 28px;
    line-height: 30px;
  }
}

header .wrap button.tel:hover {
  background-color: var(--color-green);
  color: var(--colo-white);
}

header .wrap button.consultation {
  border: none;
  background: none;
  font-family: 'Noah';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 7px;
  color: var(--colo-white);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 1100px) {
  header .wrap button.consultation {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header .wrap button.consultation {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
  }
}

header .wrap button.consultation:hover {
  text-decoration: underline;
}

header .wrap .menu_icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  header .wrap .menu_icon {
    display: block;
    width: 24px;
    height: 18px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    top: 41px;
    right: 16px;
  }
}

header .wrap .menu_icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu_icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(1px, -50%);
          transform: rotate(-45deg) translate(1px, -50%);
}

.menu_icon._active::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(-1px, -50%);
          transform: rotate(45deg) translate(-1px, -50%);
}

@media only screen and (max-width: 768px) {
  .menu_icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .menu_icon::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .menu_icon span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

/*secton hero*/
.hero {
  background-image: url(../images/img/bg-headar.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: -179px;
}

.hero .bg-gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5.85%, rgba(0, 0, 0, 0.5)), color-stop(61.53%, rgba(134, 134, 134, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
  padding-top: 282px;
  background-repeat: no-repeat;
}

.hero .bg-gradient .content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(1920px - 292px);
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .bg-gradient .content-hero .content-left {
  width: 959px;
}

.hero .bg-gradient .content-hero .content-left .subtitle__hero {
  font-family: 'Noah';
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-5);
  line-height: 30px;
  color: var(--colo-white);
}

.hero .bg-gradient .content-hero .content-left h1 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-1);
  line-height: 87px;
  color: var(--colo-white);
  margin: 12px 0;
}

.hero .bg-gradient .content-hero .content-left h3 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: var(--font-3);
  color: var(--colo-white);
}

/*footer*/
footer {
  background: #545A2F;
  width: 100%;
  padding: 22px 0;
  position: relative;
}

footer .up_arrow {
  text-decoration: none;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  width: 124px;
  height: 124px;
  background-color: #99A18E;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -196px;
  right: 155px;
  text-align: center;
}

@media only screen and (max-width: 1300px) {
  footer .up_arrow {
    width: 95px;
    height: 95px;
    font-size: 14px;
    line-height: 17px;
    right: 5%;
  }
}

footer .up_arrow img {
  display: block;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 11px;
}

@media only screen and (max-width: 1300px) {
  footer .up_arrow img {
    margin-top: 20px;
    margin-bottom: 8px;
    width: 15px;
    height: 23px;
  }
}

footer .footer_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: calc(96px + 25px) 24px;
      grid-template-rows: calc(96px + 25px) 24px;
  row-gap: 48px;
}

@media only screen and (max-width: 1024px) {
  footer .footer_wrap {
    row-gap: 20px;
    -ms-grid-rows: calc(56px + 25px) 24px;
        grid-template-rows: calc(56px + 25px) 24px;
  }
}

footer .footer_wrap .contact {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .footer_wrap .contact a {
  display: block;
  margin-top: 22px;
  text-decoration: none;
  font-family: 'Geometria';
  font-weight: 400;
  font-style: 20px;
  color: #fff;
}

@media only screen and (max-width: 1204px) {
  footer .footer_wrap .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

footer .footer_wrap .logo img {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  footer .footer_wrap .logo img {
    width: 115px;
    height: 100%;
  }
}

footer .footer_wrap .networks img {
  display: block;
  margin-top: 18px;
  margin-left: auto;
}

footer .footer_wrap .copy p {
  font-family: 'Noah';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  opacity: 0.7;
  position: relative;
  z-index: 0;
}

footer .footer_wrap .privacy {
  -ms-grid-column: 3;
  grid-column: 3;
}

footer .footer_wrap .privacy a {
  display: block;
  font-family: 'Noah';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-align: right;
}
/*# sourceMappingURL=header_footer.css.map */