:root{
    --color-green: #545A2F;
    --color-pale-green: #99A18E;
    --color-brown: #63533E;
    --color-black: #1A1A18;
    --colo-white: #fff;
    --font-1: 70px;
    --font-2: 58px;
    --font-3: 48px;
    --font-4: 38px;
    --font-5: 24px;
    --font-6: 18px;
}

$green: #545A2F;
$pale_green: #99A18E;
$brown: #63533E;
$black: #1A1A18;
$white: #fff;
$font-1: 70px;
$font-2: 58px;
$font-3: 48px;
$font-4: 38px;
$font-5: 24px;
$font-6: 18px;


@mixin onlylange($w) {
    @media only screen and (max-width: $w)
    {
        @content;       
    }
}
@mixin textstyle-h4 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 47px;
}

@mixin textstyle-h5 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

@mixin textstyle-h6 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

body._lock{
    overflow: hidden;
}

.center{
    max-width: 1720px;
    margin: 0 auto;
    @include onlylange(1900px){
        width: 95%;
    }
    @include onlylange(640px) {
        width: 88%;
    }      
}



/*header*/



.wrapper{
    margin: 0 auto;
    max-width: 1920px;
    // background: #1A1A18;
}

header{   
    position: relative;
    z-index: 1;
    margin-top: 28px;
    @include onlylange(768px){
        margin-top: 16px;
        
    }
}

header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onlylange(840px){
        position: relative;
    }
}

header .wrap img{    
    margin: 21px 0;
    @include onlylange(1440px){
        width: 110px;
        height: 100%;
    }
    @include onlylange(840px){
        position: relative;
        z-index: 2;
        width: 110px;
        height: 56px;
        margin: 0;
    }
    
}


header .wrap .item-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onlylange(840px){
        display: grid;
        grid-template-rows:  228px 105px ;
        grid-template-columns: 1fr;
        row-gap: 59px;
        justify-items: center;   
        padding-top: 130px;    
        position: fixed;
        left: -100%;
        top: 0; 
        width: 100%;
        height: 100%;
        background: $green;
        background-image: url(../images/svg/flower.svg);
        background-repeat: no-repeat;
        background-size: 181px 131px;
        background-position: 100% 47%;
        z-index: 1;
        transition: left 0.3s ease 0s;
        overflow: auto; 
    @include onlylange(400px){
        background-position: 100% 47%;;
    }
    @include onlylange(400px){
        background-position: 125% 53%;
    }
    }   
}


header .wrap .item-left._active{
    @include onlylange(840px){
        left: 0;
    }    
}

header .wrap .item-left .menu{
    display: flex;
    margin-right: 38px;
    justify-content: space-between;
    @include onlylange(840px){        
        flex-direction: column; 
        margin-top: -25px;       
    }
}

header .wrap .item-left .menu li a{
    text-decoration: none;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-5);
    line-height: 100%;
    color: var(--colo-white);
    margin-right: 78px;
    transition: 0.8s;
    @include onlylange(1440px){
        margin-right: 40px;
        font-size: 20px;
    }
    @include onlylange(1100px){
        margin-right: 25px;
    }
    @include onlylange(840px){
        text-align: center;
        display: block;
        width: 230px;
        margin: 0 auto;
        border-bottom: 1px solid $pale_green;
        padding: 22px 0;
        font-size: 20px;
        line-height: 24px;
    }
    
}
header .wrap .item-left .menu > li:nth-child(4) > a{
    @include onlylange(840px){
        padding-bottom: 0;
        border: none;
    }
}

header .wrap .item-left .menu li a:hover{
   text-decoration:underline;
}


header .wrap .connection{
   
    @include onlylange(840px){
        display: block;
        margin-top: -9px;
        
    }    
}


header .wrap a.tel{
    text-decoration: none;
    display: block;
    padding: 15px 28px;
    border: none;
    background-color: var(--colo-white);
    color: var(--color-black);
    font-family:'Noah';
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-5);
    line-height: 30px;
    transition: 0.8s;
    @include onlylange(1100px){
        font-size: 16px;
        line-height: 24px;
        padding: 5px 10px;
    }
    @include onlylange(840px){
        font-size: var(--font-5);
        padding: 15px 28px;
        line-height: 30px;
    }
    
}

header .wrap a.tel:hover{
    background-color: var(--color-green);
    color: var(--colo-white);
}

header .wrap button.consultation{
    border: none;
    background: none;
    font-family: 'Noah';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
    color: var(--colo-white);
    transition: 0.8s;
    @include onlylange(1100px){
       display: none;
               
    }
    @include onlylange(768px){
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        margin-top: 7px;
    }
}

header .wrap button.consultation:hover{
    text-decoration:underline;
}

header .wrap .menu_icon{
    display: none;
    @include onlylange(840px){
        display: block;
        width: 24px;
        height: 18px;
        position: fixed;
        z-index: 10;        
        cursor: pointer;
        top: 41px;
        right: 16px;
    }    
}

header .wrap .menu_icon._active{
    span{
        transform: scale(0) translate(0px, -50%);
    }    
}

.menu_icon._active::before{
    top: 50%;
    transform: rotate(-45deg) translate(1px, -50%);
}

.menu_icon._active::after{
    top: 50%;
    transform: rotate(45deg) translate(-1px, -50%);
}

.menu_icon::after{
    @include onlylange(840px){
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    transition: 0.8s;
    }
}

.menu_icon::before{
    @include onlylange(840px){
   content: "";
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 3px;
   top: 0;
   transition: 0.8s;
    }
}

.menu_icon span{
    @include onlylange(840px){
   content: "";
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 3px;
   top: 9px;
   transform: scale(1) translate(0px, -50%);
   transition: 0.8s;
    }
}



/*consultation*/



.wrap_consultation{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
    z-index: 5;
    transition: 0.8s;
    display: flex;
    .cart_consultation{
        box-sizing: border-box;
        max-width:676px;
        position: relative;
        background-color: $white;
        padding:  65px 93px 62px 93px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @include onlylange(768px){
            width: 88%;
        }
        @include onlylange(710px){
            padding: 7% 9%;
        }
        @include onlylange(420px){
            width: 100%;
            padding:  62px 5px  90px 5px;
        }          

        img.firsi-img{
            position: absolute;
            top: 0;
            left: 0;
        }
        img.second-img{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .cancel{
            position:   absolute;
            width: 30px;
            height: 30px;
            top: 16px;
            right: 16px;
            background: $white;
            cursor: pointer;
            transition: 0.8s;
            &:hover{
                width: 34px;
                height: 35px;
            }
            span{
                cursor: pointer;
                &::after{
                    content: "";
                    background-color: $brown;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    top: 50%;
                    transform: rotate(45deg) translate(-1px, -50%)
                }
                &::before{
                    content: "";
                    background-color: $brown;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    top: 0;
                    top: 50%;
                    transform: rotate(-45deg) translate(1px, -50%)
                }         
            }
        }
        h2{
            position: relative;
            font-family: 'Noah';
            font-style: normal;
            font-weight: 400;
            font-size: $font-2;
            line-height: 72px;
            color: $green;  
            width: 340px;
            text-align: center;
            @include onlylange(768px){
                @include textstyle-h4();
            }          
        }
        p{
            position: relative;
            margin-top: 19px;
            margin-bottom: 32px;
            font-family: 'Noah';
            font-style: normal;
            font-weight: 400;
            font-size: $font-5;
            line-height: 30px;
            color:  $black;
            @include onlylange(768px){
                @include textstyle-h6();
                text-align: center;
            }
            @include onlylange(420px){
                margin-top: 11px;
                margin-bottom: 22px;
                width: 215px;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            .full_name{
                position: relative;
                width: 100%;
                height: 50px;
                padding-left: 22px;
                color: #333333;
                font-family: 'Noah';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                position: relative;
                border: 1px solid $pale_green;
                box-sizing: border-box;
                @include onlylange(420px){
                    width: 288px;
                    margin: 0 auto;
                }
                &::placeholder{
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #63533E;
                    position: absolute;
                    top: 2px;
                    left: 22px;
                }            
            }
            .input_tel{
                position: relative;
                margin-top: 30px;
                margin-bottom: 24px;
                width: 100%;
                height: 50px;
                padding-left: 22px;
                color: #333333;
                font-family: 'Noah';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                border: 1px solid $pale_green;
                box-sizing: border-box;
                @include onlylange(420px){
                    @include textstyle-h6;
                    width: 288px;
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 17px;
                }
                &::placeholder{
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    color: #633e50;
                    @include textstyle-h6;
                }
            }
            div{
                display: flex;
                align-items: center;
                position: relative;
                @include onlylange(630px){
                    width: 288px;
                    margin: 0 auto;
                }
                .checkbox{
                    width: 20px;
                    height: 20px;
                    border-radius: 0%;
                    border: 1px solid $pale_green;
                    box-sizing: border-box;
                }
                label{
                    margin-left: 11px;
                    font-family: 'Geometria';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 214%;
                    color: #000000;
                    @include onlylange(630px){
                        line-height: 17px;
                        font-weight: 400;
                        width: 225px;
                    }

    
                }
            }
            button{
                position: relative;
                display: block;
                padding: 15px 67px 15px 63px;
                border: none;
                background-color: $green;           
                margin: 0 auto;
                margin-top: 50px;
                box-sizing: border-box;
                transition: 0.8s;
                @include onlylange(630px){
                    width: 311px;
                    margin-top: 24px;
                }
                &:hover{
                    background: #99A18E;
                }
                .btn_col{
                    @include textstyle-h5();
                    color: $white;
                    @include onlylange(630px){
                        display: none;
                    }
                }
                .btn{
                    @include textstyle-h5();
                    color: $white;
                    display: none;
                    @include onlylange(630px){
                        display:inline;
                    }
                }
           }
        }
    }
}

._active-cart{
    top:0;
   
}
    






/*footer*/



footer{
    background: $green ;
    width: 100%;
    padding: 22px 0;
    position: relative;
    @include onlylange(640px){
        padding-top: 37px;
        padding-bottom: 23px;
    }
    .up_arrow{        
        text-decoration: none;
        font-family: 'Noah';
        font-style: normal;
        font-weight: 400;
        font-size: $font-6;
        line-height: 22px;
        color: $white;        
        width: 124px;
        height: 124px;
        background-color: $pale_green;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: -196px;
        right: 155px;
        text-align: center;
        @include onlylange(1300px){
            width: 95px;
            height: 95px;
            font-size: 14px;
            line-height: 17px;
            right: 5%;
        }
        @include onlylange(640px){
            top: 334px;
        }
        
        img{
            display: block;
            margin: 0 auto;
            margin-top: 27px;
            margin-bottom: 11px;
            @include onlylange(1300px){
                margin-top: 20px;
                margin-bottom: 8px;
                width: 15px;
                height: 23px;
            }
        }
    }
    
    .footer_wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  calc(96px + 25px) 24px;
        row-gap: 48px;
        @include onlylange(1024px){
            row-gap: 20px;
            grid-template-rows: calc(56px + 25px) 24px;
        }
        @include onlylange(640px){
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center
        }
        .contact{
            align-self: flex-end;
            @include onlylange(640px){
                align-self: center;
            }
            a{
                display: block;
                margin-top: 22px;
                text-decoration: none;
                font-family: 'Geometria';
                font-weight: 400;
                font-size: 20px;
                color: $white;
                @include onlylange(640px){
                    margin-top: 19px;
                    font-size: 22px;
                    text-align: center;
                }
            }
            a.mail{
                @include onlylange(640px){
                    margin-top: 13px;
                }
                
            }
        }
        .logo{
            @include onlylange(1204px){
                grid-row: 1/span 2 ;
                grid-column: 2;
            }
            @include onlylange(640px){
                order: -1;
            }
            img{
                display: block;
                margin: 0 auto;
                @include onlylange(1024px){
                    width: 115px;
                    height: 100%;
                }
            }
        }
        .networks{
            img{
                display: block;
                margin-top: 18px;
                margin-left: auto;
                @include onlylange(640px){
                    margin-top: 14px;
                }
            }
        }
        .copy{ 
            @include onlylange(640px){
            order: 1;
            align-self: start;
            margin-top: -13px;}            
            p{
                font-family: 'Noah';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $white;
                opacity: 0.7;
                position: relative;
                z-index: 0;
             }
         }
        .privacy{
            grid-column: 3;
            @include onlylange(640px){
                align-self: start;
            margin-top: 34px;}
            a{
                display: block;
                font-family: 'Noah';
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $white;
                text-decoration: none;
                text-align: right;
            }
          } 
     } 
}