$green: #545A2F;
$pale_green: #99A18E;
$brown: #63533E;
$black: #1A1A18;
$white: #fff;

// @import url(header_footer.scss); 

/*@mixin*/

@mixin onlylange($w) {
    @media only screen and (max-width: $w)
    {
        @content;       
    }
}


@mixin textstyle-h1($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
    color: $c;
    @include onlylange(1440px){
        font-size: 58px;
        line-height: 72px;
    }
    @include onlylange(1100px){
        font-size: 48px;
        line-height: 60px;
    }
    @include onlylange(768px){
        font-size: 38px;
        line-height: 47px;
    }
    @include onlylange(520px){
        font-size: 24px;
        line-height: 30px;
        }
}

@mixin textstyle-h2($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 72px;
    color: $c;
}

@mixin textstyle-h3($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: $c;
    @include onlylange(1100px){
        font-size: 24px;
        line-height: 30px;
    }

}

@mixin textstyle-h4($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 47px;
    color: $c;
}

@mixin textstyle-h5($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: $c;
}

@mixin textstyle-h6($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $c;
}
@mixin textstyle-h7($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $c;
}



/*hero*/



.hero{
    margin-top: -179px;
    background-image: url(../images/img/bg-headar.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    @include onlylange(520px){
        margin-top: -172px;
        background-size: auto 105%;
        background-position: 50% -29%;             
    }
    .bg{        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
        background-size: auto;
        position: relative;
        .content-hero{
            padding-top: 282px;
            position: relative;
            width: 959px;
            padding-left: 292px;
            box-sizing: content-box;
            @include onlylange(1900px){
                padding-left: 16%;
            }
            @include onlylange(1440px){
                padding-left: 9%;
            }
            @include onlylange(1100px){
                width: 61%;
            }
            @include onlylange(768px){
                width: 80%;
            }
            @include onlylange(520px){
                padding-top: 251px;
                padding-left: 16px;
            }
            p{
                @include textstyle-h5($white);
                @include onlylange(1100px){
                    @include textstyle-h6($white);
                }
                @include onlylange(520px){
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            h1{
                @include textstyle-h1($white);
                margin-top: 12px;
                margin-bottom: 12px;
                @include onlylange(1440px){
                    @include textstyle-h2($white);
                }
                @include onlylange(1100px){
                    @include textstyle-h3($white);
                }
                @include onlylange(520px){
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    margin-top: 11px;
                    margin-bottom: 17px;
                }
            }
            h3{
                @include textstyle-h3($white);
                @include onlylange(1440px){
                    @include textstyle-h4($white);
                }
                @include onlylange(1100px){
                    @include textstyle-h5($white);
                }
                @include onlylange(520px){
                    @include textstyle-h6($white);
                }
               
            }
        }
        .content-img{
            position: absolute;
            right: 0;
            top: 292px;
            @include onlylange(1440px){
                top: 330px;
                width: 353px;
                height: 293px;
                object-fit: cover;
            }
            @include onlylange(968px){
                width: 297px;
                height: 209px;
                object-fit: cover;
                top: 370px;
            }
            @include onlylange(520px){
                height: 131px;
                width: 181px;
                top: 390px;
            }
        }
        .slider_wrap{
            margin-top: 234px;
            bottom: 0;
            margin-left: 292px;
            width: 1338px;
            display: grid;
            grid-template-columns: 1fr 215px 139px;
            column-gap: 229px;
            align-items: center;
            @include onlylange(1920px){
                margin: 0 auto;
                margin-top: 234px;
                width: 72%;
                column-gap: 16%;           
            }
            @include onlylange(1440px){
                margin-left: 7%;
                margin-top: 170px;
                column-gap: 7%;
            }
            @include onlylange(1100px){
                grid-template-columns: 1fr 215px;
            }
            @include onlylange(968px){
                grid-template-columns: 1fr;
            }
            @include onlylange(520px){
                margin-left: 0;
            }
            ._item{
                width: 430px;
                padding: 30px 26px;
                display: flex;
                align-items: center;
                background: rgba(99, 83, 62, 0.52);
                // backdrop-filter: blur(4px);
                @include onlylange(520px){
                    width: 184px;
                    height: 80px;
                    box-sizing: border-box;
                    padding: 20px 6px 20px 14px;
                }
                p{
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 37px;
                    color: $white;
                    width: 152px;
                    margin-right: 21px;
                    @include onlylange(520px){
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        width: 91px;
                    }
                }
                a img{
                    @include onlylange(520px){
                        width: 14px;
                        height: 6px;
                    }
                }
                .project-img{
                    width: 109px;
                    height: 86px;
                    object-fit: cover;
                    margin-left: 64px;
                    @include onlylange(520px){
                        width: 47px;
                        height: 46px;
                        margin-left: 10px;
                    }
                }
            }
            .btn_slide{
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                @include onlylange(968px){
                    display: none;
                }
                .aroow-left{
                    width: 33px;
                    height: 15px;
                    background-image: url(../images/svg/arrow.svg);
                    background-repeat: no-repeat;
                    transform: rotate(180deg);
                }
                .btn-right{
                    width: 33px;
                    height: 15px;
                    background-image: url(../images/svg/arrow.svg);
                    background-repeat: no-repeat;
                }
            }
            .slide-indicator{
                display: grid;
                padding-top: 15px;
                grid-template-columns: 1fr 30px 30px 30px 26px;
                align-items: center;
                @include onlylange(1100px){
                    display: none;
                }
                span{
                    font-family: 'Geometria';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 21px;
                    color: $white;
                }
                span:nth-child(5){
                    text-align: right;
                }
                button{
                    border: none;
                    background: rgba(255, 255, 255, 0.28);
                }
            }
        }
    }
}



/*section info*/



.info{
    padding-top: 211px;
    padding-bottom: 187px;
    text-align: center;
    position: relative;
    @include onlylange(1440px){
        padding-top: 160px;
        padding-bottom: 100px;
    }
    @include onlylange(825px){
        padding-top: 90px;
        padding-bottom: 60px;
    }
    @include onlylange(574px){
        padding-bottom:81px;
        padding-top: 45px;
    }
    h3{
        position: relative;
        @include textstyle-h3($black);
        @include onlylange(1440px){
            @include textstyle-h4($black)
        }
        @include onlylange(1110px){
            @include textstyle-h5($black)
        }
        @include onlylange(420px){
            width: 288px;
            margin: 0 auto;
        }
        span{
            font-weight: bold;
        }

    }
    h5{
        position: relative;
        margin: 0 auto;
        margin-top: 53px;
        margin-bottom: 200px;
        width: 856px;
        @include textstyle-h5($black);
        @include onlylange(1110px){
            margin-bottom: 100px;
            width: 90%;
            @include textstyle-h6($black);
        }
        @include onlylange(825px){
            margin-top: 30px;
            margin-bottom: 60px;
        }
        @include onlylange(574px){
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
        @include onlylange(420px){
            margin-top: 40px;
            margin-bottom: 56px;
        }
    
    }
    .conteinet_img{
        position: relative;
        margin: 0 auto;
        width: 1790px;
        display: flex;
        justify-content: space-between;
        @include onlylange(1860px){
            width: 95%;
        }
        @include onlylange(574px){
            flex-direction: column;
            width: 100%
        }
        img{
            width: 579px;
            height: 410px;
            object-fit: cover;
            @include onlylange(1860px){
                width: 32%;
            }
            @include onlylange(1440px){
                height: 360px;
            }
            @include onlylange(1440px){
                height: 290px;
            }
            @include onlylange(825px){
                height: 240px;
            }
            @include onlylange(767px){
                height: 230px;
            }
            @include onlylange(574px){
                width: 100%;
                height: 227px;
                margin-top: 10px;
            }
        }
    }
    img.left{
        position: absolute;
        left: 0;
        top: 404px;
        @include onlylange(1440px){
            width: 400px;
            height: 316px;
            object-fit: cover;
            top: 360px;
        }
        @include onlylange(1100px){
            width: 323px;
            height: 242px;
            top: 235px;
        }
        @include onlylange(768px){
            width: 160px;
            height: 115px;
            top: 280px;
        }
        @include onlylange(420px){
            top: 435px;
        }
    }
    img.right{
        position: absolute;
        right: 0;
        top: 404px;
        @include onlylange(1440px){
            width: 400px;
            object-fit: cover;
            height: 316px;
            top: 360px;
        }
        @include onlylange(1100px){
            width: 323px;
            height: 242px;
            top: 235px;
        }
        @include onlylange(768px){
            width: 160px;
            height: 115px;
            top: 280px;
        }
        @include onlylange(420px){
            top: 435px;
        }

    }
}


/*excellence*/




.excellence{
    background-image: url(../images/svg/excellence.svg);
    background-repeat: no-repeat;
    background-position: 50%  50%;
    position: relative;
    @include onlylange(1100px){
        background-size: 90%;
        background-position:  auto 0;
    }
    .wrap_title{
        h3{
            max-width: 998px;
            @include textstyle-h3($black);
            padding-bottom: 199px;
            margin: 0 auto;  
            text-align: center;
            @include onlylange(1100px){
                padding-bottom: 100px;
            }
            @include onlylange(980px){
                padding-bottom: 66px;
            }          
            span{
                font-weight: bold;
            }
        }
        .items_excellence{
            display: flex;
            flex-direction: column;
            margin-left: calc( 50% - 61px);
            @include onlylange(1100px){
                margin-left: 48%;
            }
            @include onlylange(980px){
                margin: 0 auto;
            }
            .title{
                display: flex;
                img{
                    width: 50px;
                    height: 50px;
                    @include onlylange(980px){
                        width: 32px;
                        height: 32px;
                    }
                }
                p{
                    width: calc(582px - 137px);
                    margin-left: 35px;
                    @include textstyle-h5($black);
                        @include onlylange(1440px){
                            @include textstyle-h6 ($black);
                            margin-left: 19px;
                            width: 75%;
                     }
                     @include onlylange(1100px){
                        width: 100%;
                    }
                    @include onlylange(540px){
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                &:nth-child(2){
                    margin-left: 49px;
                    margin-top: 158px;
                    margin-bottom: 193px;
                    @include onlylange(1100px){
                        margin-top: 100px;
                        margin-bottom: 100px;
                        margin-left: 0;
                    }
                    @include onlylange(980px){
                        margin-top: 36px;
                        margin-bottom: 36px;
                    }

                    p{
                        width: 582px;
                        @include onlylange(1440px){
                            width: 75%;
                        }
                        @include onlylange(1100px){
                            width: 100%;
                        }
                    }
                }
                &:nth-child(3){
                    width: 582px;
                    margin-left: 84px;
                    margin-bottom: 181px;
                    @include onlylange(1440px){
                        width: 90%;
                    }

                    @include onlylange(1100px){
                        margin-bottom: 90px;
                        width: 90%;
                        margin-left: 0;
                    }
                    @include onlylange(980px){
                        margin-bottom: 66px;
                    }
                    p{
                        width: 582px;
                        @include onlylange(1440px){
                            width: 75%;
                        }
                        @include onlylange(1100px){
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
    .item_img{
        width: 776px;
        position: absolute;
        bottom: 0;
        left: -7px;
        @include onlylange(1660px){
            width: 46%;
        }
        @include onlylange(980px){
            position: relative;
            margin: 0 auto;
            left: 0;
        }
        @include onlylange(980px){
            width: 100%;
        }

        p{
            @include textstyle-h5($black);
            margin-bottom: 14px;
            margin-left: 170px;
            @include onlylange(1440px){
                margin-left: 25%;
            }
            @include onlylange(980px){
                transform: rotate(270deg); 
                position: absolute;
                bottom: 71px;
                left: -14%; 
                font-size: 16px;
                line-height: 20px; 
                text-align: left;
            }
            @include onlylange(768px){
                left: -17%; 
            }
            @include onlylange(768px){
                left: -20%; 
            }
            @include onlylange(540px){
                left: -62px; 
                margin: 0;
                padding: 0;
                bottom: 84px;
                
            }

        }
        img{
            &:nth-child(2){
                width: 701px;
                height: 526px;
                object-fit: cover;
                @include onlylange(1660px){
                    width: 90%;
                }
                @include onlylange(1440px){
                    height: 420px;
                }
                @include onlylange(1100px){
                    height: 330px;
                }
                @include onlylange(980px){
                    height: 236px;
                    width: 80%;
                }
                @include onlylange(540px){
                    width: 100%;
                }
                

        
            }
            &:nth-child(3){
                width: 536px;
                height: 402px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-top: -53px;
                @include onlylange(1440px){
                    width: 75%;
                    height: 290px;
                }
                @include onlylange(1100px){
                    height: 230px;
                }
                @include onlylange(980px){
                    height: 204px;
                    margin-top: -11px;
                }
                @include onlylange(540px){
                    box-sizing: border-box;
                    width: 100%;
                    padding-left: 48px;;
                }
        

            }
        } 
    }
}
    


/*servis list*/



.servis{
    .wrap-serwis{
            h2{
        @include textstyle-h2($black);
        margin-top: 252px;
        margin-bottom: 64px;
        text-align: center;
        margin-bottom: 65px;
        @include onlylange(1440px){
            font-size: 48px;
            line-height: 60px;
        }
        @include onlylange(980px){
            font-size: 38px;
            line-height: 47px;
            margin-top:150px;
            margin-bottom: 40px;
    
        }
        @include onlylange(768px){
            font-size: 24px;
            line-height: 30px;
            margin-top:88px;
            margin-bottom: 30px;
        }
    }
    .war_servis{
        display: grid;
        grid-template-columns: 399px 399px 399px;
        column-gap: 70px;
        justify-content: center;
        @include onlylange(1440px){
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5%;
        }
        @include onlylange(980px){
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 33px;
            width: 100%;
        }
        h4{
            @include textstyle-h4($black);
            margin-top: 11px;
            margin-bottom: 56px;
            @include onlylange(1440px){
                font-size: 24px;
                line-height: 30px;
            }
            @include onlylange(768px){
                margin-left: 7px;
                margin-top: 8px;
                margin-bottom: 20px;
            }
        }
        img{
            @include onlylange(768px){
                width: 60px;
                height: 60px;
            }
        }
        ul{
            margin-left: 41px;
            list-style-type: disc;
            @include onlylange(768px){
                margin-left: 13px;
            }
            li{
                @include textstyle-h5($black);
                margin-bottom: 30px;
                @include onlylange(768px){
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 16px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                
            }
        }
    }


    }
    a{
        position: relative;
        z-index: 10;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        width: 311px;
        text-align: center;
        padding: 15px 0 15px 0;
        background: $green;
        @include textstyle-h5($white);
        text-align: center;
        margin: 0 auto;
        margin-top: 41px;
        transition: 0.8s;
        border: none;
        &:hover{
            background: $pale_green;
        }
    }
}



/*instruction*/


.instruction{
    position: relative;
    .img-left{
        position: absolute;
        object-fit: cover;
        object-position: -577px 0;
        left: 0;
        top: -593px; 
        @include onlylange(1490px){
            width: 75%;
        }
        @include onlylange(1024px){
            object-position: -451px 0;
        }
        @include onlylange(768px){
            display: none;
        }
    }
    .img-right{
        position: absolute;
        object-fit: cover;
        object-position: 324px 0 ;
        right: 0;
        top: -384px;
        @include onlylange(1490px){
            width: 65%;
        }
        @include onlylange(768px){
            display: none;
        }

    }
    .img-bg{
        position: absolute;
        width: 100%;
        height: 333px;
        top: 39.76%;
        background: rgba(153, 161, 142, 0.3);
        @include onlylange(1024px){
            height: 660px;
            top: 113px;
        }
        // @include onlylange(890px){
        //     height: 610px;
        //     top: 113px;
        // }


    }
    .wrapper_form{
        margin-top: 305px;
        margin-left: 50%;
        margin-bottom: 406px;
        @include onlylange(1024px){
            margin: 0 auto;
            margin-top: 138px;
            margin-bottom: 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
    
        }
        .img-book{
            width: 1309px;
            object-fit: cover;
            position: absolute;
            top: -36.39%;
            left: -215px;
            height: 876px;
            @include onlylange(1740px){
                width: 1100px;
                height: 876px;
            }
            @include onlylange(1490px){
                width: 800px;
            }
            @include onlylange(1290px){
                width: 700px;
                height: 700px;
                top: -3.39%;
                left: -182px
            }
            @include onlylange(1024px){
                position: static;
                width: 402px;
                height: 408px;
            }
            @include onlylange(470px){
                margin-top: -27px;
                width: 250px;
                height: 273px;            }
    
        }
    

        
        h2{
            position: relative;
            z-index: 1;
            @include textstyle-h2($black);
            width: 559px;
            @include onlylange(1440px){
                font-size: 48px;
                line-height: 60px;
                width: 400px;
            }
            @include onlylange(1100px){
                font-size: 38px;
                line-height: 47px;
            }
            @include onlylange(1024px){
                margin: 0 auto;
                text-align: center;
            }
            @include onlylange(768px){
                font-size: 24px;
                line-height: 30px;
            }
            @include onlylange(470px){
                width: 73%;
            }
        }
        p{
            position: relative;
            z-index: 1;
            margin-top: 62px;
            margin-bottom: 24px;
            @include textstyle-h5($black);
            @include onlylange(1024px){
                margin: 0 auto;
                text-align: center;
                margin-top: 39px;
                margin-bottom: 0px;
            }
            @include onlylange(470px){
                font-size: 18px;
                line-height: 22px;
            
            }
            


        }
        form{
            position: relative;
            z-index: 1;
            width: 100%;
            .mail{
                display: block;
                padding-top: 18px;
                padding-bottom: 12px;
                padding-left: 31px;
                width: 601px;
                background: #FFFFFF;
                margin-bottom: 19px; 
                @include onlylange(1440px) {
                    width: 85%;
                }
                @include onlylange(1024px) {
                    width: 60%;
                    margin: 0 auto;
                }
                @include onlylange(470px){
                    margin-top: -11px;
                    width: 84%;
                    padding-left: 13px;
                    padding-top: 18px;
                    padding-bottom: 11px;
                }  
    
                        
                &::placeholder{
                    @include textstyle-h5($black);
                    @include onlylange(470px){
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
            div{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @include onlylange(1024px) {
                    margin: 0 auto;
                    margin-top: 12px;
                    margin-bottom: 16px;
                    width: 300px;
                    flex-wrap: nowrap
                }
                @include onlylange(640px){
                    width: 288px;
                    margin-top: 8px;
                    margin-bottom: 32px;

                }  

                .checkbox{
                    width: 20px;
                    height: 20px;
                }
                label{
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-left: 24px;
                    @include onlylange(1024px){
                        margin-left: 10px;
                        width: 250px;
                        
                    }
                    @include onlylange(890px){
                        width: 250px;
                    }
                    @include onlylange(640px){
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
            button{
                display: block;
                padding: 11px 69px 12px 61px;
                background: $green;
                @include textstyle-h5($white);
                text-align: center;
                margin-top: 25px;
                transition: 0.8s;
                @include onlylange(1024px) {
                    margin: 0 auto;
                }     

                &:hover{
                    background: $pale_green;
                }

            }
        }
        
    }
}