/*@mixin*/
/*hero*/
.hero {
  margin-top: -179px;
  background-image: url(../images/img/bg-headar.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
}

@media only screen and (max-width: 520px) {
  .hero {
    margin-top: -172px;
    background-size: auto 105%;
    background-position: 50% -29%;
  }
}

.hero .bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5.85%, rgba(0, 0, 0, 0.5)), color-stop(61.53%, rgba(134, 134, 134, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
  background-size: auto;
  position: relative;
}

.hero .bg .content-hero {
  padding-top: 282px;
  position: relative;
  width: 959px;
  padding-left: 292px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media only screen and (max-width: 1900px) {
  .hero .bg .content-hero {
    padding-left: 16%;
  }
}

@media only screen and (max-width: 1440px) {
  .hero .bg .content-hero {
    padding-left: 9%;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .bg .content-hero {
    width: 61%;
  }
}

@media only screen and (max-width: 768px) {
  .hero .bg .content-hero {
    width: 80%;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .content-hero {
    padding-top: 251px;
    padding-left: 16px;
  }
}

.hero .bg .content-hero p {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  .hero .bg .content-hero p {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .content-hero p {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

.hero .bg .content-hero h1 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 87px;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media only screen and (max-width: 1440px) {
  .hero .bg .content-hero h1 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 72px;
    color: #fff;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .bg .content-hero h1 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .content-hero h1 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 11px;
    margin-bottom: 17px;
  }
}

.hero .bg .content-hero h3 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}

@media only screen and (max-width: 1440px) {
  .hero .bg .content-hero h3 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 47px;
    color: #fff;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .bg .content-hero h3 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .content-hero h3 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
  }
}

.hero .bg .content-img {
  position: absolute;
  right: 0;
  top: 292px;
}

@media only screen and (max-width: 1440px) {
  .hero .bg .content-img {
    top: 330px;
    width: 353px;
    height: 293px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 968px) {
  .hero .bg .content-img {
    width: 297px;
    height: 209px;
    -o-object-fit: cover;
       object-fit: cover;
    top: 370px;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .content-img {
    height: 131px;
    width: 181px;
    top: 390px;
  }
}

.hero .bg .slider_wrap {
  margin-top: 234px;
  bottom: 0;
  margin-left: 292px;
  width: 1338px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 215px 139px;
      grid-template-columns: 1fr 215px 139px;
  -webkit-column-gap: 229px;
          column-gap: 229px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1920px) {
  .hero .bg .slider_wrap {
    margin: 0 auto;
    margin-top: 234px;
    width: 72%;
    -webkit-column-gap: 16%;
            column-gap: 16%;
  }
}

@media only screen and (max-width: 1440px) {
  .hero .bg .slider_wrap {
    margin-left: 7%;
    margin-top: 170px;
    -webkit-column-gap: 7%;
            column-gap: 7%;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .bg .slider_wrap {
    -ms-grid-columns: 1fr 215px;
        grid-template-columns: 1fr 215px;
  }
}

@media only screen and (max-width: 968px) {
  .hero .bg .slider_wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .slider_wrap {
    margin-left: 0;
  }
}

.hero .bg .slider_wrap ._item {
  width: 430px;
  padding: 30px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(99, 83, 62, 0.52);
}

@media only screen and (max-width: 520px) {
  .hero .bg .slider_wrap ._item {
    width: 184px;
    height: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 6px 20px 14px;
  }
}

.hero .bg .slider_wrap ._item p {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  width: 152px;
  margin-right: 21px;
}

@media only screen and (max-width: 520px) {
  .hero .bg .slider_wrap ._item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 91px;
  }
}

@media only screen and (max-width: 520px) {
  .hero .bg .slider_wrap ._item a img {
    width: 14px;
    height: 6px;
  }
}

.hero .bg .slider_wrap ._item .project-img {
  width: 109px;
  height: 86px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 64px;
}

@media only screen and (max-width: 520px) {
  .hero .bg .slider_wrap ._item .project-img {
    width: 47px;
    height: 46px;
    margin-left: 10px;
  }
}

.hero .bg .slider_wrap .btn_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

@media only screen and (max-width: 968px) {
  .hero .bg .slider_wrap .btn_slide {
    display: none;
  }
}

.hero .bg .slider_wrap .btn_slide .aroow-left {
  width: 33px;
  height: 15px;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero .bg .slider_wrap .btn_slide .btn-right {
  width: 33px;
  height: 15px;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
}

.hero .bg .slider_wrap .slide-indicator {
  display: -ms-grid;
  display: grid;
  padding-top: 15px;
  -ms-grid-columns: 1fr 30px 30px 30px 26px;
      grid-template-columns: 1fr 30px 30px 30px 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1100px) {
  .hero .bg .slider_wrap .slide-indicator {
    display: none;
  }
}

.hero .bg .slider_wrap .slide-indicator span {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
}

.hero .bg .slider_wrap .slide-indicator span:nth-child(5) {
  text-align: right;
}

.hero .bg .slider_wrap .slide-indicator button {
  border: none;
  background: rgba(255, 255, 255, 0.28);
}

/*section info*/
.info {
  padding-top: 211px;
  padding-bottom: 187px;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 1440px) {
  .info {
    padding-top: 160px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 825px) {
  .info {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 574px) {
  .info {
    padding-bottom: 0;
    padding-top: 42px;
  }
}

.info h3 {
  position: relative;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #1A1A18;
}

@media only screen and (max-width: 1440px) {
  .info h3 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 47px;
    color: #1A1A18;
  }
}

@media only screen and (max-width: 1110px) {
  .info h3 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #1A1A18;
  }
}

@media only screen and (max-width: 420px) {
  .info h3 {
    width: 288px;
    margin: 0 auto;
  }
}

.info h3 span {
  font-weight: bold;
}

.info h5 {
  position: relative;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 287px;
  width: 856px;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1A1A18;
}

@media only screen and (max-width: 1110px) {
  .info h5 {
    margin-bottom: 100px;
    width: 90%;
  }
}

@media only screen and (max-width: 825px) {
  .info h5 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 574px) {
  .info h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .info h5 {
    margin-top: 40px;
    margin-bottom: 106px;
  }
}

.info .conteinet_img {
  position: relative;
  margin: 0 auto;
  width: 1790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1860px) {
  .info .conteinet_img {
    width: 95%;
  }
}

@media only screen and (max-width: 574px) {
  .info .conteinet_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.info .conteinet_img img {
  width: 579px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1860px) {
  .info .conteinet_img img {
    width: 32%;
  }
}

@media only screen and (max-width: 1440px) {
  .info .conteinet_img img {
    height: 360px;
  }
}

@media only screen and (max-width: 1440px) {
  .info .conteinet_img img {
    height: 290px;
  }
}

@media only screen and (max-width: 825px) {
  .info .conteinet_img img {
    height: 240px;
  }
}

@media only screen and (max-width: 767px) {
  .info .conteinet_img img {
    height: 230px;
  }
}

@media only screen and (max-width: 574px) {
  .info .conteinet_img img {
    width: 100%;
    height: 227px;
    margin-top: 10px;
  }
}

.info img.left {
  position: absolute;
  left: 0;
  top: 404px;
}

@media only screen and (max-width: 1440px) {
  .info img.left {
    width: 400px;
    height: 316px;
    -o-object-fit: cover;
       object-fit: cover;
    top: 360px;
  }
}

@media only screen and (max-width: 1100px) {
  .info img.left {
    width: 323px;
    height: 242px;
    top: 235px;
  }
}

@media only screen and (max-width: 768px) {
  .info img.left {
    width: 160px;
    height: 115px;
    top: 280px;
  }
}

@media only screen and (max-width: 420px) {
  .info img.left {
    top: 435px;
  }
}

.info img.right {
  position: absolute;
  right: 0;
  top: 404px;
}

@media only screen and (max-width: 1440px) {
  .info img.right {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 316px;
    top: 360px;
  }
}

@media only screen and (max-width: 1100px) {
  .info img.right {
    width: 323px;
    height: 242px;
    top: 235px;
  }
}

@media only screen and (max-width: 768px) {
  .info img.right {
    width: 160px;
    height: 115px;
    top: 280px;
  }
}

@media only screen and (max-width: 420px) {
  .info img.right {
    top: 435px;
  }
}

/*excellence*/
.excellence {
  background-image: url(../images/svg/excellence.svg);
  background-repeat: no-repeat;
  background-position: 50%  50%;
  position: relative;
}

.excellence .wrap_title h3 {
  max-width: 1160px;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #1A1A18;
  padding-bottom: 199px;
  margin: 0 auto;
  text-align: center;
}

.excellence .wrap_title h3 span {
  font-weight: bold;
}

.excellence .wrap_title .items_excellence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: calc( 50% - 61px);
}

.excellence .wrap_title .items_excellence .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.excellence .wrap_title .items_excellence .title img {
  width: 50px;
  height: 50px;
}

.excellence .wrap_title .items_excellence .title p {
  width: calc(582px - 137px);
  margin-left: 35px;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

.excellence .wrap_title .items_excellence .title:nth-child(2) {
  margin-left: 49px;
  margin-top: 158px;
  margin-bottom: 193px;
}

.excellence .wrap_title .items_excellence .title:nth-child(2) p {
  width: 582px;
}

.excellence .wrap_title .items_excellence .title:nth-child(3) {
  width: 582px;
  margin-left: 84px;
  margin-bottom: 185px;
}

.excellence .wrap_title .items_excellence .title:nth-child(3) p {
  width: 582px;
}

.excellence .item_img {
  width: 776px;
  position: absolute;
  bottom: 0;
  left: -7px;
}

.excellence .item_img p {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
  margin-bottom: 14px;
  margin-left: 170px;
}

.excellence .item_img img:nth-child(2) {
  width: 701px;
  height: 526px;
  -o-object-fit: cover;
     object-fit: cover;
}

.excellence .item_img img:nth-child(3) {
  width: 536px;
  height: 402px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-left: auto;
  margin-top: -53px;
}

/*servis list*/
.servis h2 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #1A1A18;
  margin-top: 252px;
  margin-bottom: 64px;
  text-align: center;
  margin-bottom: 65px;
}

.servis .war_servis {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 399px 399px 399px;
      grid-template-columns: 399px 399px 399px;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servis .war_servis h4 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 47px;
  color: #1A1A18;
  margin-top: 11px;
  margin-bottom: 56px;
}

.servis .war_servis ul {
  list-style-type: disc;
}

.servis .war_servis ul li {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
  margin-bottom: 40px;
}

.servis .war_servis ul li:last-child {
  margin-bottom: 0;
}

.servis a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  padding: 15px 77px 15px 73px;
  background: #545A2F;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  width: 311px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}
/*# sourceMappingURL=index.css.map */