$green: #545A2F;
$pale_green: #99A18E;
$brown: #63533E;
$black: #1A1A18;
$white: #fff;



/*@mixin*/

@mixin onlylange($w) {
    @media only screen and (max-width: $w)
    {
        @content;       
    }
}


@mixin textstyle-h1($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
    color: $c;
    @include onlylange(1440px){
        font-size: 58px;
        line-height: 72px;
    }
    @include onlylange(1100px){
        font-size: 48px;
        line-height: 60px;
    }
    @include onlylange(768px){
        font-size: 38px;
        line-height: 47px;
    }
    @include onlylange(520px){
        font-size: 24px;
        line-height: 30px;
        }
}

@mixin textstyle-h2($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 72px;
    color: $c;
    @include onlylange(1440px){
        font-size: 48px;
        line-height: 60px;
    }
    @include onlylange(1100px){
        font-size: 38px;
        line-height: 47px;
    }
    @include onlylange(768px){
        font-size: 24px;
        line-height: 30px;
    }
}

@mixin textstyle-h3($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: $c;
    @include onlylange(1440px){
        font-size: 38px;
        line-height: 47px;
    }
    @include onlylange(1100px){
        font-size: 24x;
        line-height: 30px;
    }
}

@mixin textstyle-h4($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 47px;
    color: $c;
    @include onlylange(1440px){
        font-size: 24px;
        line-height: 30px;
    }
    @include onlylange(1100px){
        font-size: 18x;
        line-height: 22px;
    }
    @include onlylange(768px){
        font-size: 16px;
        line-height: 22px;
    }
}

@mixin textstyle-h5($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: $c;
}

@mixin textstyle-h6($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $c;
}
@mixin textstyle-h7($c) {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $c;
}



/* Hero */


.hero{
    background-image: url(../images/img/portfolio-01.jpg);
    background-repeat: no-repeat;
    background-position:0% 50%;
    background-size: 100%;
    width: 100%;
    margin-top: -179px;
    .wrap_bg{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
        background-size: auto;
        position: relative;
        padding-top: 250px;
        padding-bottom: 100px;
        h1{
            @include textstyle-h1($white);
            text-align: center;            
        }
        h4{margin-top: 15px;
            @include textstyle-h4($white);
            text-align: center;
        }
    }
    
}



/* Project */



.project01{
    width: 1336px;
    margin: 0 auto;
    @include onlylange(1440px){
        width: 90%;
    }
    @include onlylange(640px){
        width: 100%;
    }
    h2{
        margin-top: 130px;
        @include textstyle-h2($black);
            @include onlylange(1024px){
            margin-top: 70px;
        }
        @include onlylange(640px){
            margin-left: 16px;
            margin-top: 58px;
        }
    }
    .title{
        margin-top: 25px;
        margin-bottom: 24px;
        display: grid;
        grid-template-columns: 106px 118px 244px;
        column-gap: 67px;
        @include onlylange(768px){
            column-gap: 50px;
        }
            @include onlylange(640px){
            margin-left: 16px;
            grid-template-columns: 183px 65px;
            column-gap: 18px;
            row-gap: 29px;
        }

        p{
            @include textstyle-h6($black);
            margin-bottom: 8px;
        }
        .area{
            margin-left: 32px;
            @include onlylange(640px){
                margin-left: 0;
            }
        }
        h5{
            @include textstyle-h5($black);
            @include onlylange(640px){
                @include textstyle-h6($black);
            }
        }
    }
    .title-img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 23px;
        grid-template-rows: 387px 387px;
        row-gap: 23px;
        @include onlylange(1400px){
            grid-template-rows: 320px 320px;
        }
        @include onlylange(1300px){
            grid-template-rows: 270px 270px;
        }
        @include onlylange(1024px){
            column-gap: 15px;
            row-gap: 15px;
            @include onlylange(640px){
                display: none;
            }

        }
        


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img:nth-child(2){
            grid-column: 2/span 3;
            width: 100%;
        }
        img:nth-child(3){
            @include onlylange(768px){
                grid-column: 3;
                width: calc(100% + 15px);
            }
        }
        img:nth-child(5){
            width: calc(100% + 23px);
            @include onlylange(1024px){
                width: calc(100% + 15px);
            }
            @include onlylange(768px){
                grid-row: 2;
                grid-column: 1/span 2;
                width: 100%;
            }
        }
        .subtitle{
            background: rgba(233, 236, 224, 0.7);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            @include onlylange(768px){
                display: none;
            }
            p{
                @include textstyle-h5($black);
                font-style: italic;
                width: 297px;
                text-align: center;
                margin: auto;
                @include onlylange(1100px){
                    @include textstyle-h6($black);
                    width: 80%;
                }
            }    
        }
    }
    a.btn{
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        width: 311px;
        text-align: center;
        padding: 15px 0 15px 0;
        background: $green;
        @include textstyle-h5($white);
        text-align: center;
        margin: 0 auto;
        margin-top: 41px;
        transition: 0.8s;
        &:hover{
            background: $pale_green;
        }
    }
    .slider-project{
        display: none;
        @include onlylange(640px){
            display: block;
            width: 100%;
            height: 270px;
        }
        .swiper-slide{
            width: 300px;
            img{
                object-position: 0 -100px;
                width: 100%;
            }
        }
    }
    .back_arrow{
        display: none;
        @include onlylange(640px){
            display: block;
            margin-top: 15px;
            margin-left: 16px;
            a{
                text-decoration: none;
                span{
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: $black;
                    margin-left: 12px;
                }
            }
        }
    }
} 

.project01 .slider-project .pj02{
    div{
        img{
            object-position: 0 0px;
        }
    }
}


/*instruction*/

.instruction{
    position: relative;
    .img-left{
        position: absolute;
        object-fit: cover;
        object-position: -577px 0;
        left: 0;
        top: -593px; 
        @include onlylange(1490px){
            width: 75%;
        }
        @include onlylange(1024px){
            object-position: -451px 0;
        }
        @include onlylange(768px){
            display: none;
        }
    }
    .img-right{
        position: absolute;
        object-fit: cover;
        object-position: 324px 0 ;
        right: 0;
        top: -384px;
        @include onlylange(1490px){
            width: 65%;
        }
        @include onlylange(768px){
            display: none;
        }

    }
    .img-bg{
        position: absolute;
        width: 100%;
        height: 333px;
        top: 39.76%;
        background: rgba(153, 161, 142, 0.3);
        @include onlylange(1024px){
            height: 660px;
            top: 113px;
        }
        // @include onlylange(890px){
        //     height: 610px;
        //     top: 113px;
        // }


    }
    .wrapper_form{
        margin-top: 305px;
        margin-left: 50%;
        margin-bottom: 406px;
        @include onlylange(1024px){
            margin: 0 auto;
            margin-top: 138px;
            margin-bottom: 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
        }
        h2{
            position: relative;
            z-index: 1;
            @include textstyle-h2($black);
            width: 559px;
            @include onlylange(1440px){
                font-size: 48px;
                line-height: 60px;
                width: 400px;
            }
            @include onlylange(1100px){
                font-size: 38px;
                line-height: 47px;
            }
            @include onlylange(1024px){
                margin: 0 auto;
                text-align: center;
            }
            @include onlylange(768px){
                font-size: 24px;
                line-height: 30px;
            }
            @include onlylange(470px){
                width: 73%;
            }
        }
        p{
            position: relative;
            z-index: 1;
            margin-top: 62px;
            margin-bottom: 24px;
            @include textstyle-h5($black);
            @include onlylange(1024px){
                margin: 0 auto;
                text-align: center;
                margin-top: 39px;
                margin-bottom: 0px;
            }
            @include onlylange(470px){
                font-size: 18px;
                line-height: 22px;
            
            }
        }
        .img-book{
            width: 1309px;
            object-fit: cover;
            position: absolute;
            top: -36.39%;
            left: -215px;
            height: 876px;
            @include onlylange(1740px){
                width: 1100px;
                height: 876px;
            }
            @include onlylange(1490px){
                width: 800px;
            }
            @include onlylange(1290px){
                width: 700px;
                height: 700px;
                top: -3.39%;
                left: -182px
            }
            @include onlylange(1024px){
                position: static;
                width: 402px;
                height: 408px;
            }
            @include onlylange(470px){
                margin-top: -27px;
                width: 250px;
                height: 273px;
            }
        }
        form{
            position: relative;
            z-index: 1;
            width: 100%;
            .mail{
                display: block;
                padding-top: 18px;
                padding-bottom: 12px;
                padding-left: 31px;
                width: 601px;
                background: #FFFFFF;
                margin-bottom: 19px; 
                @include onlylange(1440px) {
                    width: 85%;
                }
                @include onlylange(1024px) {
                    width: 60%;
                    margin: 0 auto;
                }
                @include onlylange(470px){
                    margin-top: -11px;
                    width: 84%;
                    padding-left: 13px;
                    padding-top: 18px;
                    padding-bottom: 11px;
                }  
    
                        
                &::placeholder{
                    @include textstyle-h5($black);
                    @include onlylange(470px){
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
            div{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @include onlylange(1024px) {
                    margin: 0 auto;
                    margin-top: 12px;
                    margin-bottom: 16px;
                    width: 300px;
                    flex-wrap: nowrap
                }
                @include onlylange(640px){
                    width: 288px;
                    margin-top: 8px;
                    margin-bottom: 32px;

                }  

                .checkbox{
                    width: 20px;
                    height: 20px;
                }
                label{
                    font-family: 'Noah';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-left: 24px;
                    @include onlylange(1024px){
                        margin-left: 10px;
                        width: 250px;
                        
                    }
                    @include onlylange(890px){
                        width: 250px;
                    }
                    @include onlylange(640px){
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
            button{
                display: block;
                padding: 11px 69px 12px 61px;
                background: $green;
                @include textstyle-h5($white);
                text-align: center;
                margin-top: 25px;
                transition: 0.8s;
                @include onlylange(1024px) {
                    margin: 0 auto;
                }     

                &:hover{
                    background: $pale_green;
                }

            }
        }
        
    }
}