/*@mixin*/
/* Hero */
.hero {
  background-image: url(../images/img/portfolio-01.jpg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 100%;
  width: 100%;
  margin-top: -179px;
}

.hero .wrap_bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5.85%, rgba(0, 0, 0, 0.5)), color-stop(61.53%, rgba(134, 134, 134, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 5.85%, rgba(134, 134, 134, 0) 61.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
  background-size: auto;
  position: relative;
  padding-top: 250px;
  padding-bottom: 100px;
}

.hero .wrap_bg h1 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 87px;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .hero .wrap_bg h1 {
    font-size: 58px;
    line-height: 72px;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .wrap_bg h1 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .hero .wrap_bg h1 {
    font-size: 38px;
    line-height: 47px;
  }
}

@media only screen and (max-width: 520px) {
  .hero .wrap_bg h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

.hero .wrap_bg h4 {
  margin-top: 15px;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 47px;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .hero .wrap_bg h4 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .wrap_bg h4 {
    font-size: 18x;
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .hero .wrap_bg h4 {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Project */
.project01 {
  width: 1336px;
  margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
  .project01 {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .project01 {
    width: 100%;
  }
}

.project01 h2 {
  margin-top: 130px;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #1A1A18;
}

@media only screen and (max-width: 1440px) {
  .project01 h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 1100px) {
  .project01 h2 {
    font-size: 38px;
    line-height: 47px;
  }
}

@media only screen and (max-width: 768px) {
  .project01 h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .project01 h2 {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 640px) {
  .project01 h2 {
    margin-left: 16px;
    margin-top: 58px;
  }
}

.project01 .title {
  margin-top: 25px;
  margin-bottom: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 106px 118px 244px;
      grid-template-columns: 106px 118px 244px;
  -webkit-column-gap: 67px;
          column-gap: 67px;
}

@media only screen and (max-width: 768px) {
  .project01 .title {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

@media only screen and (max-width: 640px) {
  .project01 .title {
    margin-left: 16px;
    -ms-grid-columns: 183px 65px;
        grid-template-columns: 183px 65px;
    -webkit-column-gap: 18px;
            column-gap: 18px;
    row-gap: 29px;
  }
}

.project01 .title p {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1A1A18;
  margin-bottom: 8px;
}

.project01 .title .area {
  margin-left: 32px;
}

@media only screen and (max-width: 640px) {
  .project01 .title .area {
    margin-left: 0;
  }
}

.project01 .title h5 {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

@media only screen and (max-width: 640px) {
  .project01 .title h5 {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A18;
  }
}

.project01 .title-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 23px;
          column-gap: 23px;
  -ms-grid-rows: 387px 387px;
      grid-template-rows: 387px 387px;
  row-gap: 23px;
}

@media only screen and (max-width: 1400px) {
  .project01 .title-img {
    -ms-grid-rows: 320px 320px;
        grid-template-rows: 320px 320px;
  }
}

@media only screen and (max-width: 1300px) {
  .project01 .title-img {
    -ms-grid-rows: 270px 270px;
        grid-template-rows: 270px 270px;
  }
}

@media only screen and (max-width: 1024px) {
  .project01 .title-img {
    -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 15px;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 640px) {
  .project01 .title-img {
    display: none;
  }
}

.project01 .title-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project01 .title-img img:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/span 3;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .project01 .title-img img:nth-child(3) {
    -ms-grid-column: 3;
    grid-column: 3;
    width: calc(100% + 15px);
  }
}

.project01 .title-img img:nth-child(5) {
  width: calc(100% + 23px);
}

@media only screen and (max-width: 1024px) {
  .project01 .title-img img:nth-child(5) {
    width: calc(100% + 15px);
  }
}

@media only screen and (max-width: 768px) {
  .project01 .title-img img:nth-child(5) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    width: 100%;
  }
}

.project01 .title-img .subtitle {
  background: rgba(233, 236, 224, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .project01 .title-img .subtitle {
    display: none;
  }
}

.project01 .title-img .subtitle p {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
  font-style: italic;
  width: 297px;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  .project01 .title-img .subtitle p {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A18;
    width: 80%;
  }
}

.project01 a.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  width: 311px;
  text-align: center;
  padding: 15px 0 15px 0;
  background: #545A2F;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 41px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.project01 a.btn:hover {
  background: #99A18E;
}

.project01 .slider-project {
  display: none;
}

@media only screen and (max-width: 640px) {
  .project01 .slider-project {
    display: block;
    width: 100%;
    height: 270px;
  }
}

.project01 .slider-project .swiper-slide {
  width: 300px;
}

.project01 .slider-project .swiper-slide img {
  -o-object-position: 0 -100px;
     object-position: 0 -100px;
  width: 100%;
}

.project01 .back_arrow {
  display: none;
}

@media only screen and (max-width: 640px) {
  .project01 .back_arrow {
    display: block;
    margin-top: 15px;
    margin-left: 16px;
  }
  .project01 .back_arrow a {
    text-decoration: none;
  }
  .project01 .back_arrow a span {
    font-family: 'Noah';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #1A1A18;
    margin-left: 12px;
  }
}

.project01 .slider-project .pj02 div img {
  -o-object-position: 0 0px;
     object-position: 0 0px;
}

/*instruction*/
.instruction {
  position: relative;
}

.instruction .img-left {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -577px 0;
     object-position: -577px 0;
  left: 0;
  top: -593px;
}

@media only screen and (max-width: 1490px) {
  .instruction .img-left {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .instruction .img-left {
    -o-object-position: -451px 0;
       object-position: -451px 0;
  }
}

@media only screen and (max-width: 768px) {
  .instruction .img-left {
    display: none;
  }
}

.instruction .img-right {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 324px 0;
     object-position: 324px 0;
  right: 0;
  top: -384px;
}

@media only screen and (max-width: 1490px) {
  .instruction .img-right {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .instruction .img-right {
    display: none;
  }
}

.instruction .img-bg {
  position: absolute;
  width: 100%;
  height: 333px;
  top: 39.76%;
  background: rgba(153, 161, 142, 0.3);
}

@media only screen and (max-width: 1024px) {
  .instruction .img-bg {
    height: 660px;
    top: 113px;
  }
}

.instruction .wrapper_form {
  margin-top: 305px;
  margin-left: 50%;
  margin-bottom: 406px;
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form {
    margin: 0 auto;
    margin-top: 138px;
    margin-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
  }
}

.instruction .wrapper_form h2 {
  position: relative;
  z-index: 1;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #1A1A18;
  width: 559px;
}

@media only screen and (max-width: 1440px) {
  .instruction .wrapper_form h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 1100px) {
  .instruction .wrapper_form h2 {
    font-size: 38px;
    line-height: 47px;
  }
}

@media only screen and (max-width: 768px) {
  .instruction .wrapper_form h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 1440px) {
  .instruction .wrapper_form h2 {
    font-size: 48px;
    line-height: 60px;
    width: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  .instruction .wrapper_form h2 {
    font-size: 38px;
    line-height: 47px;
  }
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form h2 {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .instruction .wrapper_form h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 470px) {
  .instruction .wrapper_form h2 {
    width: 73%;
  }
}

.instruction .wrapper_form p {
  position: relative;
  z-index: 1;
  margin-top: 62px;
  margin-bottom: 24px;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form p {
    margin: 0 auto;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 470px) {
  .instruction .wrapper_form p {
    font-size: 18px;
    line-height: 22px;
  }
}

.instruction .wrapper_form .img-book {
  width: 1309px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -36.39%;
  left: -215px;
  height: 876px;
}

@media only screen and (max-width: 1740px) {
  .instruction .wrapper_form .img-book {
    width: 1100px;
    height: 876px;
  }
}

@media only screen and (max-width: 1490px) {
  .instruction .wrapper_form .img-book {
    width: 800px;
  }
}

@media only screen and (max-width: 1290px) {
  .instruction .wrapper_form .img-book {
    width: 700px;
    height: 700px;
    top: -3.39%;
    left: -182px;
  }
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form .img-book {
    position: static;
    width: 402px;
    height: 408px;
  }
}

@media only screen and (max-width: 470px) {
  .instruction .wrapper_form .img-book {
    margin-top: -27px;
    width: 250px;
    height: 273px;
  }
}

.instruction .wrapper_form form {
  position: relative;
  z-index: 1;
  width: 100%;
}

.instruction .wrapper_form form .mail {
  display: block;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-left: 31px;
  width: 601px;
  background: #FFFFFF;
  margin-bottom: 19px;
}

@media only screen and (max-width: 1440px) {
  .instruction .wrapper_form form .mail {
    width: 85%;
  }
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form form .mail {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 470px) {
  .instruction .wrapper_form form .mail {
    margin-top: -11px;
    width: 84%;
    padding-left: 13px;
    padding-top: 18px;
    padding-bottom: 11px;
  }
}

.instruction .wrapper_form form .mail::-webkit-input-placeholder {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

.instruction .wrapper_form form .mail:-ms-input-placeholder {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

.instruction .wrapper_form form .mail::-ms-input-placeholder {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

.instruction .wrapper_form form .mail::placeholder {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

@media only screen and (max-width: 470px) {
  .instruction .wrapper_form form .mail::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .instruction .wrapper_form form .mail:-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .instruction .wrapper_form form .mail::-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .instruction .wrapper_form form .mail::placeholder {
    font-size: 18px;
    line-height: 22px;
  }
}

.instruction .wrapper_form form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form form div {
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 16px;
    width: 300px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 640px) {
  .instruction .wrapper_form form div {
    width: 288px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

.instruction .wrapper_form form div .checkbox {
  width: 20px;
  height: 20px;
}

.instruction .wrapper_form form div label {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 24px;
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form form div label {
    margin-left: 10px;
    width: 250px;
  }
}

@media only screen and (max-width: 890px) {
  .instruction .wrapper_form form div label {
    width: 250px;
  }
}

@media only screen and (max-width: 640px) {
  .instruction .wrapper_form form div label {
    font-size: 14px;
    line-height: 17px;
  }
}

.instruction .wrapper_form form button {
  display: block;
  padding: 11px 69px 12px 61px;
  background: #545A2F;
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-top: 25px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 1024px) {
  .instruction .wrapper_form form button {
    margin: 0 auto;
  }
}

.instruction .wrapper_form form button:hover {
  background: #99A18E;
}
/*# sourceMappingURL=partfolio.css.map */